/*Formantação padrão*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/background.png);
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
}

/*Cabeçalho Tudo*/

#cabecalho{
    font-size: 0.8em;
    background:  url(../img/logo-left.png) no-repeat left top;
    width: 920px;
    margin: 0 auto;
    height: 180px;
    text-align: center;
    font-family: 'Chilanka', cursive; 
}

#cabecalho h1{
    letter-spacing: 16px;
    line-height: 100px;
}

#cabecalho ul{
    margin-left: 170px;
    list-style: none;
}

#cabecalho ul li{
    float: left;
}

#cabecalho ul li a{
    font-weight: bolder;
    color: black;
    text-decoration: none;
    line-height: 50px;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 3px 6px;
    border-radius: 10px;
    transition: 0.2s;
}

#cabecalho ul li a:hover{
    color: white;
    background: black;
}

/*Container*/
#container{
    width: 920px;
    margin: 6px auto;
}

/*Imagem com tamanho predefinido de 300x200*/
.img-apre{
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    width: 300px;
    height: 200px;
    background: #c3c3c3;
    transition: 0.2s;
}

.img-apre:hover{
    transform: scale(1.2);
}

.bottom{
    margin-bottom: 10px;
}

.frase{
    margin-top: 10px;
    padding: 5px;
    font-size: 0.7em;
    text-align: center;
}


/*Slide - container*/
/*imagem com tamanho predefinido de 900x400*/
.slide{
    width: 900px;
    height: 400px;
    margin: 0 auto;
    animation: slide 15s infinite;
    border-radius: 3px;
}

@keyframes slide{
    30%{
        background: #071e36;
    }
    60%{
        background: #09233e;
    }
    90%{
        background: #5e646b;
    }
}

/*Rodapé*/
#rodape{
    height: 100px;
    clear: both;
    color: white;
    background: #000;
    text-align: center;
}

#rodape h3, h4{
    float: left;
    margin-left: 250px;
    padding: 4px 6px;
    font-size: 0.8em;
}

#rodape ul{
    list-style: none;
}

#rodape ul li{
    float: left;
}

#rodape ul li a{
    margin: 2px;
    text-decoration: none;
    color: blue;
    padding: 5px;
}

#rodape ul li a:hover{
    cursor: crosshair;
}


/*
    Google fonts
    font-family: 'Chilanka', cursive;
    font-family: 'Roboto', sans-serif;
*/